@model int

<div class="container eow pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Pedido Realizado Correctamente</h1>
        Tu numero de orden es : @Model <br /><br />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        ¡Tu pedido ha sido realizado con éxito! <br />
    </div>
</div>