@model List<Categoria>
<style>
  .cajaBtn{
     display:flex;
     justify-content:center;
  }
  .btn-group{
      margin-left:70px;
  }
</style>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Lista de Categorias</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <!--padding bottom/ padding top-->
        <div class="row pb-3 ">
            <div class="col-6">
            </div>
            <div class=" text-end cajaBtn">
                <a asp-controller="Categoria" asp-action="Create" class="btn btn-primary ">Crear Nueva Categoría</a>
            </div>
        </div>

        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Nombre Categoria</th>
                    <th>Display Order</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <!--Se mostrara de forma ascendente-->
                @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
                {
                    <tr>
                        <td>@obj.nombre</td>
                        <td>@obj.DisplayOrder</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <!--este id viene del controlador, el metdo editar el parametor-->
                                <a asp-controller="Categoria" asp-action="Edit" class="btn btn-primary mx-2"
                               asp-route-idCategoria="@obj.idCategoria">
                                    Editar
                                </a>
                                <a asp-controller="Categoria" asp-action="Delete" class="btn btn-primary mx-2"
                               asp-route-idCategoria="@obj.idCategoria">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
</div>
