<style>
    h1{
        margin-top:40px;
    }
    h3{
        font-size:18px;
    }
</style>

@{ 
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>
<h3>
    A. <a href="https://drive.google.com/file/d/1XLl3kpb0O8XUQYK8DgeUOoWEkWB2hD-p/view?usp=sharing" target="_blank" style="color: #e37a23 !important; text-decoration: underline;">POLÍTICA DE PROTECCIÓN DE DATOS PERSONALES CLIENTES</a>
</h3>
